.transfer-fund{
    display: flex;
    flex-direction: column;
    form{
        display: flex;
        gap: 5px;
        margin-bottom: 5px;
        input{
            padding: 5px 10px;
        }
        button{
            height: 30px;
        }
    }
}