.contact-edit-page{
    display: flex;
    justify-content: center;
    
    .edit-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 350px;
        .form-header{
            display: flex;
            justify-content: space-between;
            .cancel-btn{
                height: 15px;
                filter: invert(1)
            }
        }
        .title{
            margin-bottom: 10px;
        }
        > img{
            height: 120px;
            width: 120px;
            margin-bottom: 10px;
        }
        input{
            height: 20px;
            border-radius: 3px;
            border: none;
            padding: 5px 10px;
            margin-bottom: 10px;
            max-width: 350px;
        }
    }
}