.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    .details-container{
        display: flex;
        align-items: flex-end;  
        margin: 10px; 
        margin-bottom: 20px;     
        > img{
            height: 80px;
            width: 80px;
        }
        .main-details{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .edit-btn{
        padding: 10px;
        align-self: flex-start;
        >img{
            height: 15px;
            // filter: invert(6%) sepia(5%) saturate(9407%) hue-rotate(1514.3deg) brightness(0%) contrast(0%);
            filter: brightness(0) invert(1);
        }
    }
    
}